<md-toolbar layout="row" layout-padding layout-align="center">
		<div flex="80" layout="row" layout-align="center">
			<h2>
				Expense details
			</h2>
		</div flex>
		</md-toolbar>
<md-content>
	<md-list layout="column">
		<md-list-item ng-repeat="item in expList">
			<div layout="row" layout-padding layout-align="space-around center" layout-fill>
				<div flex="50">
					<h4>{{item.label}}</h4>
				</div>
				<div flex="30">
					<h4>{{item.total}}</h4>
			</div>
			<div flex="20" layout="column" layout-align="center">
				<md-icon md-svg-icon="img/library-plus.svg" ng-click="addItem(item, $event)"/>
		</div>
		</md-list-item>
	</md-list>
</md-content>